body {
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
#questionnaire {
	width:90%;
	margin:0 auto;
}
#titre_ex {
	width:90%;
	margin:40px auto 0 auto;
	font:Normal 16pt Arial;
	font-style:Normal;
	color:#000000;
	text-align:left;
	background-color:#FFFFFF;
	border:2px solid gray;
	padding:5px;
}
#sstitre_ex {
	width:90%;
	margin:5px auto 5px auto;
	font:Normal 14pt Arial;
	font-style:Normal;
	color:#000000;
	text-align:left;
	background-color:#FFFFFF;
	border:none;
	padding:5px;
}
#consigne_ex {
	width:90%;
	margin:2px auto 20px auto;
	font:normal 12pt Arial;
	font-style:normal;
	color:#000000;
	text-align:left;
	background-color:#FFFFFF;
	border:none;
	padding:5px;
}
#comd {
	width:100%;
	padding:3px 0;
	margin:2px auto 20px auto;
	text-align:center;
	background-color:#FFFFFF;
	border:2px solid gray;
}
li {
	margin-bottom:5px;
	padding:0
}
form.frm {
	margin-top:5px;
}
#a_rebours {
	text-align:center
}
#temps {
	font:bold 10pt Arial;
	color:#000000;
}
#chrono{
	font:normal 14pt Arial;
	font-style:normal;
	color:#000000;
	text-align:center;
	border:none;
	width:120px;
	padding:5px;
	background-color:#fff;
}
#questions{
	font:normal 18pt Arial;
	font-style:normal;
	color:#000000;
}
#chrono, #temps, #soluces, #encore {
	display:none;
}
.cons_q {
	padding:3px 0 3px 5px;
	background-color:#FFFFFF;
	margin-bottom:3px;
	font:normal 12pt Arial;
	font-style:Normal;
	color:#000000;
	border:none;
}
input.elm {
	background-color: #F8F8F8;
	font: normal 12pt Arial;
	font-style: normal;
	color: #000000;
	text-align: left;
	margin-left: 2px;
	border: 1px solid gray;
}
input.elm:hover {
	background-color: #000000;
	color: #F8F8F8;
}
input.cmd {
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
	cursor: pointer;
	height: 20pt;
	font: normal 10pt Arial;
	margin: 2px 0 0 2px;
}
input.cmd:hover {
	border: 1px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}
.quest {
	background-color: #FFFFFF;
	padding: 2px 0 2px 5px;
	min-height: 24pt;
	font: normal 12pt Arial;
	font-style: Normal;
	color: #000000;
	border: 1px solid gray;
}
.quest  > span {
	margin-right:4px;
}
.com { /* commentaires */
	display:none;
	font:normal 9pt Arial;
	font-style:normal;
	text-align:left;
	color:#000000;
	background-color:#FFFFFF;
	padding: 3px 10px;
	border: 1px solid gray;
	overflow:auto;
	margin-top:3px;
}
.copyr {
	text-align:center;
	color:gray;
	font:normal 10pt verdana,arial,helvetica,sans-serif;
	margin-bottom:10px;
}
.copyr > a:link, .copyr > a:visited {
	color:gray;
	text-decoration:underline;
}
.copyr > a:hover {
	text-decoration:none;
	color:red
}
#feedback {
	position:absolute;
	display:none;
	top:500px;
	left:400px;
	width:400px;
	height:auto;
	border:2px solid gray;
	text-align:center;
	background-color:#888;
	color:#ffff00;
	font:bold 12pt verdana,arial,helvetica,sans-serif;
	cursor:move;
}
#fb {
	background-color:#eaeaea;
	font:normal 10pt verdana,arial,helvetica,sans-serif;
	color:gray;
	margin:5px;
	padding:10px;
	height:auto;
	overflow:auto;
}
#close {
	font:bold 12pt verdana,arial,helvetica,sans-serif;
	color:#fff;
	border:1px solid #fff;
	padding:0 4px;
	float:right;
	margin-right:5px;
	cursor:pointer;
}
#close:hover {
	color:#ffff00;
	border-color:#ffff00;
}
#datation,#auteur {
	margin:0 2px;
}
.comments {
	text-decoration:underline;color:red;font-style:italic;letter-spacing:2px;
}
